@import 'src/styles/libs/_vars.scss';

.card {
  display: flex;
  background-color: $card-background;
  cursor: pointer;

  &--beige {
    background-color: #ffd8bc;
  }

  &--blue {
    background-color: #8ed8f7;
  }

  &--green {
    background-color: #b2f0a0;
  }

  &__image-box {
    display: flex;
    flex: 1 0 60%;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-height: 13.5vw;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    padding: 0.9vw;
  }

  &__info-box-top {
  }

  &__info-title {
    padding-bottom: 5px;
    color: $text;
    font-size: 1.15vw;
    line-height: 1;
  }

  &__info-desc {
    overflow: hidden;
    color: $description;
    font-size: 0.67vw;
    line-height: 1.2em;
  }

  &__info-box-bottom {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__info-person-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 26px;
    margin-bottom: 0.4vw;
    background-color: rgba(67, 67, 67, 0.1);
    border-radius: 15px;
  }

  &__info-person {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-person-number {
    margin-left: 7px;
    color: #9b9b9b;
    font-weight: bold;
    font-size: 14px;
  }

  &__info-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__info-price {
    margin-right: 5%;
    font-size: 1.5vw;

    svg {
      height: 1.1vw;
    }
  }

  &__info-button {
    flex: 0 0 45%;
    width: 100%;
    height: 2vw;
    color: $white;
    font-weight: bold;
    font-size: 0.7vw;
    background-color: $red;
    border-radius: 4px;

    &:active {
      box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
  }
}
