@import 'src/styles/libs/_vars.scss';

.button {
  padding: 10px 25px;
  color: $grey;
  font-size: 15px;
  background-color: $white;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 10%);
  cursor: pointer;

  &:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 10%) inset;
  }
}

.inner {
  display: flex;
  align-items: center;

  span {
    padding-right: 10px;
  }
}
