@import 'src/styles/libs/_vars.scss';

.navigation {
  flex: 1 1 auto;
}

.elems {
  display: flex;
  align-items: center;
  justify-content: center;

  &--mb {
    flex-direction: column;

    .elem {
      margin-left: 0;
      padding: 20px 0;
    }

    .link {
      font-size: 30px !important;
    }
  }
}

.elem {
  height: max-content;
  padding: 8px 0;
  cursor: pointer;

  & + & {
    margin-left: 15px;
  }

  &:hover {
    a:not(.active) {
      color: $red;
    }
  }

  &--mb {
    & + & {
      margin-left: 0px;
    }
  }
}

.link {
  font-size: 16px;

  &.active {
    padding: 8px 24px;
    color: $white;
    background-color: $red;
    border-radius: 19px;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

@media (max-width: 635px) {
  .navigation {
    flex: none;
  }
}

@media (min-width: 635px) and (max-width: 1150px) {
  .elem {
    & + & {
      margin-left: 11px;
    }
  }
}
